<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="전송"><br>
</form>

<form method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    <input type="submit" value="전송"><br>
</form>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }} <!--이렇게 하면 p태그로 만들어짐 -->
    <input type="submit" value="전송"><br>
</form>

<form method="post">
    {% csrf_token %}
    <ul>
    {{ form.as_ul }} <!--이렇게 하면 ul태그로 만들어짐 -->
    </ul>
    <input type="submit" value="전송"><br>
</form>


<!-- 직접 사용하고 싶을 때-->
<form method="post">
    {% csrf_token %}
    이름: {{ form.name }} 
    나이: {{ form.age }} 
    <input type="submit" value="전송"><br>
</form>